*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.idea/
*.jks
keystore/keystore.properties
/.kotlin
*.log
/.gradle

*.aar
*.onnx
app/src/main/assets/sherpa-onnx-*
app/src/main/jniLibs/*.so
